body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: white;
}

.top-nav {
    position: relative;
    height: 60px;
    width: 100%;
    background: white;
}

.nav-left {
    position: absolute;
    left: 20px;
    top: 15px;
}

.site-name {
    font-weight: 600;
}

.nav-center {
    text-align: center;
    padding-top: 18px;
}

.nav-center a {
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    font-size: 14px;
    display: inline-block;
}

.nav-right {
    position: absolute;
    right: 20px;
    top: 12px;
}

.btn-login, .btn-signup {
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.btn-login {
    background: black;
    color: white;
    border: none;
}

.btn-signup {
    background: white;
    border: 1px white;
    margin-left: 5px;
}

.btn-info {
    background: none;
    border: 1px solid #d1d1d1;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 10px;
}

.content-wrapper {
    width: 900px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}

.page-title {
    font-size: 36px;
    margin-bottom: 40px;
}

.section-subtitle {
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
}

.gallery-container {
    text-align: left;
    margin-bottom: 50px;
}

.gallery-item {
    display: inline-block;
    width: 100px;
    margin-right: 15px;
    text-align: center;
}

.image-box {
    width: 130px;
    height: 180px;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 10px;
}

.gallery-item p {
    font-size: 13px;
    color: gray
}

.cards-container {
    text-align: left;
}

.info-card {
    display: inline-block;
    width: 400px;
    background: white;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    border: 1px solid #eee;
}
