.body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-family: "Inter", sans-serif;
}

.top-nav {
  position: relative;
  height: 60px;
  width: 100;
  border-bottom: 1px solid white;
}

.nav-side-left {
  position: absolute;
  left: 20px;
  top: 15px;
}

.site-gpt {
  font-weight: 600;
  font-size: 18px;
}

.nav-center {
    text-align: center;
    padding-top: 18px;
}

.nav-center a {
    color: gray;
    margin: 0 10px;
    font-size: 14px;
    display: inline-block;
}

.nav-side-right {
    position: absolute;
    right: 20px;
    top: 12px;
}

.btn-login {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 14px;
}

.btn-sygnup {
    background-color: white;
    color: black;
    border: 1px white; /*solid?*/
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px
}

.section {
    position: absolute;
    top: 40%;
    /* left: 50%; */
    width: 100%;
    text-align: center;
}

.main-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.main-search {
    border: 1px solid #e5e5e5; 
    border-radius: 20px;
    padding: 15px;
    text-align: left;
    /* box-shadow: 0 2px 10px rgba(0,0,0,0.05); */
}

.main-search {
    width: 95%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
}

